body {
    background-color: black;
    color: whitesmoke;
}
#container2 {
    background-color: rgb(37, 36, 36);
}
h1 {
    font-size: 60px;
    text-align: center;
}
.search {
    display: block;
    margin: auto;
}
#container1 {
    display: block;
    margin: auto;
    text-align: center;
    color: yellow;
    text-decoration: underline;
    padding: 15px;
}
.resultDiv{
    padding: 5px;
}